DATABASE_URL="file:./dev.db"
JWT_SECRET="chave-longa"

# E-mail (Brevo)
EMAIL_API_KEY="sua-chave-aqui"
EMAIL_FROM="no-reply@seudominio.com"
EMAIL_FROM_NAME="EasyFood"
APP_URL="http://localhost:3000"
COMMERCIAL_EMAIL=""
